body{
    width: 100%;
    background-image: url(/image.jpg) ;
    background-repeat: no-repeat;
    background-size:cover;
    min-height: 100vh;
}
.container{
    max-width: 34rem;
}
.main-parent{
    display: grid;
    justify-content: center;
    margin: 0 auto;
    
}
.box-form{
    background: #ffffff9f;
    border-radius: 6px;
    padding: 2rem;
    margin-top: 1.5rem;
}
h1{
    text-align: center;
    margin-bottom: 2.5rem;
    color: #424f4fe0;
}
.input-box{
    margin-bottom: 20px;
    
}
.input-box input{
    width: 100%;
    height: 2.5rem;
    font-size: 1.25rem;
    background: #ffffff9f;
}
.input-box label{
     font-size: 1.5rem;
     color: #42424f;
}
#icon-box{
    position: relative;
}

.icon-eyes{
    position: absolute;
    right: 0;
    top: 50%;
    cursor: pointer;
}

.icon-eyes img{
    width: 1.6rem;
}

#icon{
    display: none;
}
.check{
    font-size: 1rem;
}
.check a{
    text-decoration: none;
}
button{
    background: #7791b0;
    width: 100%;
    height: 3.5rem;
    margin: 2rem auto 0;
    color: #fff;
    font-size: 1.34rem;
    font-weight: 600;
    border: none;

}